@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d; /* dark gray track */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b46c1; /* Tailwind purple-700 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #805ad5; /* purple-600 hover */
}
